<form class="form-horizontal poghancum_form"  name="form" role="form" ng-submit="changePassword()">

    <div class="tittle col-md-3">
        <span class="page_icon">
            <span class="page_icon_name"> {{'Change password'| translate}}</span>
            <img src="img/poghancum.png">
        </span>
    </div>
    <div class="col-md-9">
        <div class="form-group">
            <label>{{'Old password'| translate}}</label>
            <input type="password" required="required"  name='oldPassword' ng-pattern="regex"   class="form-control" id="phoneNumber" ng-model="changepassword.oldPassword" >
            <div   class="error" ng-show="form.oldPassword.$error.required &&  !form.oldPassword.$pristine">
                {{'password_change_error'| translate}}
            </div>
            <div class="error" ng-show="form.oldPassword.$error.pattern &&  !form.oldPassword.$pristine">
                {{'password_to_short_error'| translate}}
            </div>
        </div>
        <div class="form-group">
            <label>{{'New password'| translate}}</label>
            <input data-ng-model="changepassword.newPassword"  ng-pattern="regex"  class="form-control" type="password" name='newPassword'  required>
            <div class="error" ng-show="form.newPassword.$error.required &&  !form.oldPassword.$pristine">
                {{'password_newPassword_error'| translate}}
            </div>
            <div class="error" ng-show="form.newPassword.$error.pattern &&  !form.oldPassword.$pristine">
                {{'password_to_short_error'| translate}}
            </div>
        </div>
        <div class="form-group">
            <label>{{'Repaet new password'| translate}}</label>
            <input ng-model='changepassword.newPasswordRepeat'  ng-pattern="regex"  type="password" class="form-control" name='newPasswordRepeat' required data-password-verify="changepassword.newPassword">
            <div class="error" ng-show="form.newPasswordRepeat.$error.required &&  !form.oldPassword.$pristine">
                {{'password_newPasswordRepeat_error'| translate}}
            </div>
            <div class="error" ng-show="form.newPasswordRepeat.$error.pattern &&  !form.oldPassword.$pristine">
                {{'password_to_short_error'| translate}}
            </div>
        </div>
        <div class="form-group">
            <div class="error" ng-show="form.newPasswordRepeat.$error.passwordVerify">
                {{'Fields_are_not_equal'| translate}}
            </div>
        </div>
        <div class="form-group ">
            <button type="submit"  ng-disabled="form.$invalid" class="btn btn_blue cabinet_button"  >{{'Save'| translate}}</button>
        </div>
    </div>
</form>