<div class="timer_popup ">
    <div class="timer_popup_body">
        <div class="timer_popup_header">
           
        </div>
        <div class="timer_popup_content">
            <div>
               {{'you_will_be_logged'| translate}} 
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary timer_popup_btn" type="button" ng-click="cancel()" >{{'ok' | translate}}</button>
                <button class="btn btn-danger" style="float: right" type="button" ng-click="ok()">{{'cancel' | translate}}</button>
            </div>
        </div>
       
    </div>
    <div class="timer_popup_overlay"></div>
</div>