<div class="header-info"  ng-include src ="'partials/_accountManagementNav.html'"></div>
<div class="page_text_wrap">
        <div title="" class="page_text_controls" id="menu_footer">
            <div class="page_text_up" onmousedown="scrollByClick(-1)">
            </div>
            <div class="page_text_down" onmousedown="scrollByClick(1)">

            </div>
        </div>
        <div class="page_text_frame">
            <div class="text_inner">
                {{'account_management_index_content' | translate}}
            </div>
        </div>
    </div>