<h2 class="cabinet_title">{{ 'ACCOUNT_MANAGEMENT' | translate }}</h2>
<div class="sm_menu">
    <div class="page_icon">
        <a href="#/convertbonus">
            <span class="page_icon_name"> {{'Convert_Points' | translate}}</span>
            <img src="img/convert_points_icon.png">
        </a>
    </div>
    <div class="page_icon">
        <a href="#/myaccount">
            <span class="page_icon_name"> {{'My_Account' | translate}}</span>
            <img src="img/my_account_icon.png">
        </a>
    </div>
</div>